@import "tailwindcss";

.hide-resize-observer {
  display: none !important;
}

.react-flow__node-group{
  z-index: -10 !important;
  border: none !important;
  padding: 0px !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}
.react-flow__node-input, .react-flow__node-output, .react-flow__node-default {
  padding: 0px !important;
  background-color: transparent !important;
  border: none !important;
}
.react-flow__edge-textwrapper > rect {
  opacity: 60% !important;
  fill: #fff
}
